.header {
    background: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 70px;
}

.header__logo {
    width: 38px;
    height: 38px;
}

.profile_button {
    width: 100px;
    height: 32px;
}

.profile_button:hover {
    cursor: pointer;
}

.header_main-page {
    background-color: #F3C1F8;
}

.header-btns {
    display: flex;
    align-items: center;
}

.registration-link {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
    margin-right: 30px;
    text-decoration: none;
}

.registration-link:hover {
    cursor: pointer;
}

.login_btn {
    background-color: #000000;
    border-radius: 3px;
    border: none;
    width: 76px;
    height: 32px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;

    color: #FFFFFF;
}

.login_btn:hover {
    cursor: pointer;
}

.menu_button {
    display: none;
    width: 44px;
    height: 44px;
}

.menu_button:hover {
    cursor: pointer;
}

@media screen and (max-width: 1150px) {
    .header {
        padding: 18px 30px;

    }

    .profile_button {
        display: none;
    }

    .menu_button {
        display: block;
    }

}

@media screen and (max-width: 631px) {
    .header {
        padding: 18px 14px;

    }

    .registration-link {
        font-size: 10px;
        margin-right: 14px;
    }

    .login_btn {
        width: 54px;
        height: 26px;
        font-size: 10px;
    }

    .menu_button {
        width: 40px;
        height: 43px;
    }

}