.page__page_not_found {
    padding: 246px 0 60px;
    font-family: 'Inter', 'Arial', sans-serif;
}

.page_not_found {
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.page_not_found__error_code {
    font-style: normal;
    font-weight: 400;
    font-size: 140px;
    line-height: 169px;
    text-align: center;
    margin: 0 auto 0;
    width: 400px;
}

.page_not_found__text_line {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    margin: 5px auto 184px;

}

.page_not_found__return_button {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
    margin: 0 auto;
    color: #000000;
    transition: 0.4s;
    border: none;
    background: transparent;
}

.page_not_found__return_button:hover {
    cursor: pointer;
    transform: scale(1.2);
}

@media screen and (max-width: 1150px) {
    .page__page_not_found {
    padding: 408px 0 222px;
}
}

@media screen and (max-width: 631px) {
    .page__page_not_found {
    padding: 329px 0 30px;
}
    .page_not_found__error_code {
        width: 300px;
        font-size: 80px;
line-height: 97px;
    }

    .page_not_found__text_line {
        font-size: 12px;
        line-height: 15px;
        margin: 10px auto 284px;
    }

    .page_not_found__return_link {
        font-size: 12px;
    }
}