.techs {
    background-color: #F5F5F5;
padding: 100px 70px;
}

.techs_title-block {
    border-bottom: 1px solid #000000;
}

.techs_title {
    color: #000000;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    margin: 0 0 23px;
}

.techs_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content_title {
    color: #000000;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;

    text-align: center;
    padding: 0;
    margin: 90px 0 26px;
}

.content_discription {
    color: #000000;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    padding: 0;
    margin: 0 0 100px;
    max-width: 500px;
}

.techs_blocks {
    display: flex;
    justify-content: space-between;
    padding: 0 225px;
}

.tech_block {
    background-color: #E8E8E8;
    width: 90px;
    height: 60px;
    border-radius: 10px;
    color: #000000;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}