.search_form {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #E8E8E8;
}

.search_form_input {

    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 247px;
   
    align-items: center;
}

.search_input {
    background-color: #F9F9F9;
    border-radius: 40px;
    border: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
   position: relative;
    width: 90%;
    height: 46px;
}

.search_btn {
    background-image: url(../../../images/finder_BLUE.png);
    display: inline-block;
    width: 34px;
    height: 34px;
    right: 22px;
    position: absolute;
    right: 70px;
}

.search_filter {
    display: flex;
justify-content: center;
}

.filter {
    width: 36px;
    height: 100%;
}

.filter_name {
    font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;
color: #000000;
margin-left: 12px;
}