.aboutme {
    background-color: #FFFFFF;
    padding: 110px 70px 106px;
    position: relative;
}

.aboutme_title_block {
    border-bottom: 1px solid #000000;
}

.aboutme_title {
    color: #000000;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    margin: 0 0 23px;
}

.aboutme_content {
    display: flex;
    flex-direction: column;
}

.aboutme_content_title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;

    color: #000000;
    margin: 66px 0 18px;
}

.aboutme_content_subtitle {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;

    color: #000000;
    padding: 0;
    margin: 0 0 26px;
}

.aboutme_content_text {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;

    color: #000000;
    max-width: 590px;
    margin: 0 0 99px;
}

.github_link {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
    color: #000000;
    width: 46px;
    margin: 0 0 101px;
}

.github_link:hover {
    cursor: pointer;
}

.aboutme_photo {
    border-radius: 10px;
    width: 270px;
    height: 327px;
    position: absolute;
    right: 70px;
    top: 227px;
}

@media screen and (max-width: 1150px) {
    .aboutme {
        padding: 90px 50px 90px;
    }

    .aboutme_content_title {
        font-size: 40px;
        line-height: 40px;
        margin: 66px 0 16px;
    }

    .aboutme_content_subtitle {
        font-size: 12px;
        line-height: 18px;
        margin: 0 0 20px;
    }

    .aboutme_content_text {
        font-size: 12px;
        line-height: 18px;
        max-width: 360px;
        margin: 0 0 87px;
    }

    .github_link {
        margin: 0 0 91px;
    }

    .aboutme_photo {
        width: 255px;
        height: 307px;
        right: 50px;
        top: 207px;
    }
}

@media screen and (max-width: 720px) {
    .aboutme {
        position: inherit;
        padding: 70px 14px 70px;
        display: flex;
        flex-direction: column;
    }

    .aboutme_title {
        font-size: 18px;
        line-height: 22px;
        margin: 0 0 28px;
    }

    .aboutme_content_title {
        font-size: 30px;
        line-height: 36px;
        margin: 40px 0 20px;
    }

    .aboutme_content_subtitle {
        font-size: 11px;
        line-height: 16px;
        margin: 0 0 20px;
    }

    .aboutme_content_text {
        font-size: 11px;
        line-height: 16px;
        max-width: 292px;
        margin: 0 0 40px;
    }

    .github_link {
        margin: 0 0 70px;
    }

    .aboutme_photo {
        position: inherit;
        width: 292px;
        height: 352px;
        margin: 60px auto 40px;
    }
}